<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script>  
    var coll = document.getElementsByClassName("collapsible");
    console.log(coll)
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        console.log(content)

        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
</script>
{% include /comments-providers/scripts.html %}
